<span id="submissions-new"></span>

<%= form_for :submission, id: "submission-form", url: submissions_path do |f| %>

  <div id="initial-container">
    <p>Classifying the sky’s color is one way to indicate the level of aerosol loading in the atmosphere.</p>
    <p>By taking a picture of the sky and matching it against known shades of blue, you can find out about the air quality where you are.</p>
    <p>And, along with others nearby, can help track the air quality in your area over time.</p>
    <p>Try to get a good picture of the sky with nothing else in it. If that's impossible, just do your best.</p>
    <% if signed_in? %>
    <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% else %>
    <p><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></p>
    <p><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></p>
    <% end %>
  </div>
  <div id="picture-container">
    <img id="show-picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" class="img-responsive center-block uploaded-photo"></img>

    <div class="row no-margin">
      <div id="palette-color-0" class="palette-color col-xs-4 text-center" data-palette-index="0">
        <h2 class="palette-check glyphicon glyphicon-ok-circle"></h2>
        <!--<div class="distance"></div>-->
      </div>
      <div id="palette-color-1" class="palette-color col-xs-4 text-center" data-palette-index="1">
        <h2 class="palette-check glyphicon glyphicon-ok-circle"></h2>
        <!--<div class="distance"></div>-->
      </div>
      <div id="palette-color-2" class="palette-color col-xs-4 text-center" data-palette-index="2">
        <h2 class="palette-check glyphicon glyphicon-ok-circle"></h2>
        <!--<div class="distance"></div>-->
      </div>
    </div>
  </div>

  <%= f.hidden_field :latitude, id: "submission-latitude" %>
  <%= f.hidden_field :longitude, id: "submission-longitude" %>
  <%= f.hidden_field :blue_factor, id: "submission-blue-factor" %>

  <div class="footer">
    <div class="container row no-margin submit-row">
      <div class="col-xs-offset-2 col-xs-6">
        <div id="step-1" class="step pull-right">
          Shoot the sky
        </div>
        <div id="step-2" class="step pull-right">
          Match sky color
        </div>
        <div id="step-3" class="step pull-right">
          Send your results
        </div>
      </div>
      <div class="col-xs-4 text-center">
        <div id="camera-container">
          <span class="btn btn-default btn-file btn-lower-right">
            <%= f.file_field :photo, id: "take-picture", accept: "image/*", capture: "camera" %>
            <h2 class="glyphicon glyphicon-camera"></h2>
          </span>
        </div>
        <div id="submit-container">
          <%# f.submit id: "submit-button", class: "center-block btn btn-default btn-lg btn-lower-right", value: "Save" %>
          <button type="submit" class="btn btn-default btn-lower-right">
            <h2 class="glyphicon glyphicon-share-alt"></h2>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
