<span id="submissions-new"></span>

<%= form_for :submission, url: submissions_path do |f| %>

  <div id="initial-container">
    <p>This is the sky color app</p>
    <p>There are many like it, but this one is ours</p>
  </div>
  <div id="picture-container">
    <img id="show-picture" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" class="img-responsive center-block"></img>

    <div class="row no-margin">
      <div id="palette-color-0" class="palette-color col-xs-4 text-center" data-palette-index="0">
        <h2 class="palette-check glyphicon glyphicon-ok"></h2>
        <!--<div class="distance"></div>-->
      </div>
      <div id="palette-color-1" class="palette-color col-xs-4 text-center" data-palette-index="1">
        <h2 class="palette-check glyphicon glyphicon-ok"></h2>
        <!--<div class="distance"></div>-->
      </div>
      <div id="palette-color-2" class="palette-color col-xs-4 text-center" data-palette-index="2">
        <h2 class="palette-check glyphicon glyphicon-ok"></h2>
        <!--<div class="distance"></div>-->
      </div>
    </div>
  </div>

  <%= f.hidden_field :latitude, id: "submission-latitude" %>
  <%= f.hidden_field :longitude, id: "submission-longitude" %>
  <%= f.hidden_field :blue_factor, id: "submission-blue-factor" %>

  <div class="row no-margin submit-row footer">
    <div class="pull-left left-margin">
      <div id="step-1" class="step">
        Take a photo of the sky.
      </div>
      <div id="step-2" class="step">
        Tap the best sky color match.
      </div>
      <div id="step-3" class="step">
        Click save to see results.
      </div>
    </div>
    <div id="camera-container" class="pull-right right-margin">
      <span class="btn btn-default btn-file center-block">
        <%= f.file_field :photo, id: "take-picture", accept: "image/*", capture: "camera" %>
        <h2 class="glyphicon glyphicon-camera"></h2>
      </span>
    </div>
    <div id="submit-container" class="pull-right right-margin">
      <%= f.submit id: "submit-button", class: "center-block btn btn-default btn-lg", value: "Save" %>
    </div>
  </div>
<% end %>
