<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<div class="row no-margin">
  <%= image_tag @submission.photo, class: "col-xs-12" %>
</div>

<p>Latitude: <%= @submission.latitude %></p>
<p>Longitude: <%= @submission.longitude %></p>
<p>Blue Factor: <%= @submission.blue_factor %></p>
