<span id="submissions-show"></span>

<span id="submission"
  data-blue-factor="<%= @submission.blue_factor %>"
  ></span>

<%= image_tag @submission.photo, width: 400, height: 400 %>

<p>Latitude: <%= @submission.latitude %></p>
<p>Longitude: <%= @submission.longitude %></p>
<p>Blue Factor: <%= @submission.blue_factor %></p>

<br /><br />

<%= link_to "Again!", new_submission_path %>
