<!DOCTYPE html>
<html>
<head>
  <title>Skynet</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
  <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
  <link rel="icon" sizes="196x196" href="<%= asset_path("icon-196.png") %>">
  <link rel="icon" sizes="128x128" href="<%= asset_path("icon-128.png") %>">
  <link rel="apple-touch-icon" href="<%= asset_path("icon-196.png") %>" />
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("icon-76.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("icon-128.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("icon-152.png") %>">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path("icon-196.png") %>" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= asset_path("icon-76.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= asset_path("icon-128.png") %>">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= asset_path("icon-152.png") %>">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<div>

<div class="title row no-margin">
  <div class="col-xs-2 text-center">
    <a href="#left-menu"><h3 class="fa fa-bars"></h3></a>
  </div>
  <div class="col-xs-8 text-center">
    <h1><%= link_to "SKYNET", root_path %></h1>
  </div>
</div>

<div class="row no-margin header-row">
  <div class="col-xs-2 header-bar blue-factor-0"></div>
  <div class="col-xs-2 header-bar blue-factor-1"></div>
  <div class="col-xs-2 header-bar blue-factor-2"></div>
  <div class="col-xs-2 header-bar blue-factor-3"></div>
  <div class="col-xs-2 header-bar blue-factor-4"></div>
  <div class="col-xs-2 header-bar blue-factor-5"></div>
</div>

<nav id="left-menu">
  <ul>
    <% if signed_in? %>
      <li class="Label"><%= current_user.name %><li>
    <% end %>

    <li>
      <a href="<%= root_path %>">
        <span class="fa fa-home"></span>Home
      </a>
    </li>

    <% if !signed_in? %>
      <li class="Label">Log in using<li>
      <li>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>">
          <span class="fa fa-facebook"></span>Facebook
        </a>
      <li>
        <a href="<%= user_omniauth_authorize_path(:twitter) %>">
          <span class="fa fa-twitter"></span>Twitter
        </a>
      </li>
    <% end %>

    <% if signed_in? %>
      <% if current_user.admin? %>
        <li>
          <a href="<%= dashboard_index_path %>">
            <span class="fa fa-th"></span>Dashboard
          </a>
        </li>
      <% end %>
      <li>
        <a href="<%= personal_path(current_user) %>">
          <span class="fa fa-dot-circle-o"></span>My Photos
        </a>
      </li>
      <li>
        <a href="<%= destroy_user_session_path %>" rel="nofollow" data-method="delete">
          <span class="fa fa-circle-o"></span>Log Out
        </a>
      </li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</div>

</body>
</html>
