<!DOCTYPE html>
<html>
<head>
  <title>Skynet</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
  <link rel="icon" href="<%= asset_path("favicon.ico") %>" type="image/x-icon">
  <link rel="icon" sizes="196x196" href="<%= asset_path("icon-196.png") %>">
  <link rel="icon" sizes="128x128" href="<%= asset_path("icon-128.png") %>">
  <link rel="apple-touch-icon" href="<%= asset_path("icon-196.png") %>" />
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("icon-76.png") %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("icon-128.png") %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("icon-152.png") %>">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-no-turbolink>

<div>

<div class="title row no-margin">
  <div class="col-xs-2 text-center">
    <a href="#left-menu"><h1 class="glyphicon glyphicon-th-list"></h1></a>
  </div>
  <div class="col-xs-8 text-center">
    <h1><%= link_to "SKYNET", root_path %></h1>
  </div>
</div>

<nav id="left-menu">
  <ul>
    <% if signed_in? %>
      <li class="Label">Welcome, <%= current_user.name %><li>
    <% end %>

    <li><%= link_to "Home", root_path %></li>

    <% if !signed_in? %>
      <li class="Label">Login with:</li>
      <li><%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %></li>
      <li><%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %></li>
    <% end %>

    <% if signed_in? %>
      <% if current_user.admin? %>
        <li><%= link_to "Dashboard", dashboard_index_path %></li>
      <% end %>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>

<div class="row no-margin header-row">
  <div class="col-xs-2 header-bar blue-factor-0"></div>
  <div class="col-xs-2 header-bar blue-factor-1"></div>
  <div class="col-xs-2 header-bar blue-factor-2"></div>
  <div class="col-xs-2 header-bar blue-factor-3"></div>
  <div class="col-xs-2 header-bar blue-factor-4"></div>
  <div class="col-xs-2 header-bar blue-factor-5"></div>
</div>

<%= yield %>

</div>

</body>
</html>
